.about__list {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 0;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 367px 367px;
    grid-template-rows: 280px 280px;
    grid-column-gap: 34px;
    grid-row-gap: 37px;
    margin-top: 70px;
    padding-left: 0;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 23%  23%  23%  23%;
    grid-column-gap: 2.8%;
    grid-template-rows: 280px;
    margin-left: 0;
    margin-bottom: 200px;
    padding-left: 0;
  }
}

.about {
  min-width: 279px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey-3;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-bottom: 23px;
    border: none;
  }
}

.about__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-left: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }
}

.about__item {
  margin-bottom: 20px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    margin-left: 28px;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      left: 115px;
      top: 95px;
      content: "1";
      font-family: $font-family-primary;
      font-size: 280px;
      color: $basic_grey;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0px;

    &::before {
      left: 120px;
      top: 95px;
    }
  }
}


.about__item:nth-of-type(2) {

  @media (min-width: $tablet-width) {
    margin-left: 14px;

    &::before {
      left: 110px;
      top: 95px;
      content: "2";
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 115px;
      top: 95px;
    }
  }
}

.about__item:nth-of-type(3) {

  @media (min-width: $tablet-width) {
    &::before {
      left: 110px;
      top: 95px;
      content: "3";
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;

    &::before {
      left: 110px;
      top: 95px;
    }
  }
}

.about__item:nth-of-type(4) {
  @media (min-width: $tablet-width) {
    margin-left: 14px;

    &::before {
      left: 105px;
      top: 95px;
      content: "4";
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;

    &::before {
      left: 110px;
      top: 95px;
    }
  }
}

.about__text {
  position: relative;
  margin-left: 81px;
  width: 70%;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: -80px;
    background-color: $basic_green-2;
  }

  &::after {
    content: "";
    width: 30px;
    height: 32px;
    top: 15px;
    left: -65px;
    position: absolute;
    background-image: url(../../img/advantage-leaf@1x.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 68%;

    &::before {
      position: relative;
      left: 0;
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }

    &::after {
      content: "";
      top: -163px;
      left: 25px;
      width: 30px;
      height: 32px;
      position: relative;
      z-index: 10;
    }
  }

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.about__item:nth-of-type(2) .about__text{
  &::after {
    background-image: url(../../img/advantage-powder@1x.png);
    width: 30px;
    height: 32px;
  }
}

.about__item:nth-of-type(3) .about__text{
  &::after {
    background-image: url(../../img/advantage-dining@1x.png);
  }
}

.about__item:nth-of-type(4) .about__text{
  &::after {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}
