.body {
  font-family: $font-family-primary, $font-family-secondary, sans-serif;
  font-weight: normal;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
}

.body__wrapper {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1220px;
    grid-template-columns: 570px 570px;
    grid-auto-flow: row;
    grid-column-gap: 80px;
    margin: 0 auto;
  }
}
