.catalog-main{
  background-color: $basic-white;
}

.catalog-main__title{
  margin: 0;
  font-family: $font-family-primary;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  padding-left: 20px;
  padding-top: 26px;
  padding-bottom: 38px;
  border-top: 1px solid $special_grey-2;
  border-bottom: 1px solid $special_grey-2;
}

@media (min-width: $tablet-width){
  .catalog-main__title{
    font-size: 58px;
    font-style: normal;
    margin-top: 16px;
    padding-top: 21px;
    padding-left: 0;
    margin-left: 30px;
    border: none;
  }
}

@media (min-width: $desktop-width){
  .catalog-main__title{
    margin-left: 110px;
    width: 768px;
    margin-top: 48px;
    padding-bottom: 43px;

  }
  .catalog-main__wrapper{
    position: relative;
  }
}
