.container{
  min-width: 280px;
  max-width: 370px;
  margin: 0 auto;

  @media (min-width: $tablet-width){
    min-width: 708px;
    max-width: 708px;
  }

  @media (min-width: $desktop-width){
    min-width: 1220px;
    max-width: 1300px;

  }
}
