.distributor__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 6.25%; /*20px*/
  margin-right: 6.25%;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 200px 180px;
    grid-column-gap: 250px;
    margin: 0;
    padding-left: 71px;
    padding-right: 71px;
    padding-top: 53px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 75px;
    margin: 0;
    padding-right: 71px;
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

.distributor-invite {
  display: block;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.distributor-title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.distributor__text{
  font-size: 14px;
  line-height: 20px;
  grid-column-start: -1;
  grid-column-end: -2;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.distributor {
  padding-top: 6px;
  padding-bottom: 10px;
  outline: 5px solid $red;
  outline-offset: -5px;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 111px;
    z-index: 10;
    background-color: $basic-white;
    margin-top: 96px;
  }
}


.distributor__city{

  @media (min-width: $tablet-width) {
  display: block;
  padding-top: 20px;
  }
}
