.footer {
  background-color: $basic_grey;
  padding-top: 18px;
}

.footer__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
    display: grid;
    grid-template-columns: 244px 570px 244px;
    grid-column-gap: 80px;
  }
}

.footer__link {
  padding-top: 24px;
  padding-bottom: 27px;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }
}

.footer__social{
  @media (min-width: $tablet-width) {
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    padding-left: 38px;
  }
}

.footer__copy{
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    grid-column-start: -1;
    grid-column-end: -2;
    padding-bottom: 109px;
  }
}

