.footer{
  background-color: $basic_grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 5px solid $red;
  outline-offset: -5px;
}

.footer__wrapper{
  padding-top: 35px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}


@media (min-width: $tablet-width){
  .footer{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer__social{
    margin-left: 75px;
  }
}

@media (min-width: $desktop-width){
  .footer{
    padding-left: 110px;
    padding-right: 110px;
    display: grid;
    grid-template-columns: 244px 570px 244px;
    grid-column-gap: 80px;
  }

  .footer__wrapper{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
  }

  .footer__social{
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    padding-left: 38px;
  }

  .footer__copy{
    grid-column-start: -1;
    grid-column-end: -2;
    margin: 0;
    padding-bottom: 109px;
  }
}

