.goods__list{
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width){
    display: grid;
    margin-left: -5px;
    grid-template-columns: 324px 324px;
    grid-template-rows: auto auto auto ;
    grid-column-gap: 65px;
    grid-row-gap: 140px;
    padding-top: 136px;
  }

  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 150px;
    padding-top: 140px;
  }
}

.goods{
  outline: 5px solid $special_black;
  outline-offset: -5px;

  @media (min-width: $tablet-width){
    display: grid;
    width: 100%;
  }

  @media (min-width: $desktop-width){}
}

.goods__smItem{
  padding-bottom: 32px;

  @media (min-width: $tablet-width){
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $basic_grey;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width){
    padding-bottom: 0;
  }
}

.goods__smTitle{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_black;
  text-align: center;
  padding-top: 82px;
  margin-top: 0;
  margin-bottom: 8px;
  position: relative;

  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: 45.5%;
    background-color: $red;
  }

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 22px;
    padding-top: 164px;
    margin-bottom: 25px;
    width: 50%;

    &::before{
      content: "";
      width: 60px;
      height: 60px;
      top: 56px;
      left: 32%;
    }
  }

  @media (min-width: $desktop-width){
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 22px;
    padding-top: 152px;

    width: 70%;

    &::before{
      top: 52px;
      left: 32%;
    }
  }
}

.goods__smSubtitle{
  margin-top: 0;
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;
  margin-bottom: 17px;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 18px;
    width: 70%;
    margin-bottom: 85px;
  }
}

.goods__smLink{
  text-transform: uppercase;
  text-decoration: none;
  background-color: $basic_grey;
  color: $special_dark-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 20px;
  margin-right: 20px;

  &:focus{
    outline: none;
  }

  &:hover,
  &:focus{
    background-color: $special_grey-2;
  }

  &:active{
    color: transparentize($special_dark-grey, 0.7);
  }

  @media (min-width: $tablet-width){
    font-size: 16px;
    padding: 10px 77px;
  }

  @media (min-width: $desktop-width){
    font-size: 16px;
    padding: 9px 38px;
  }
}

.goods__show-more{
border-bottom: 1px solid $special_grey-3;
}


