.header {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  @media (min-width: $tablet-width){
    min-width: 768px;
    z-index: 3;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
/*
.header__form {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
*/
