.catalog{
  background-color: $basic_grey;
  outline: 5px solid $red;
  outline-offset: -5px;
}

.catalog__title{
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog__link{
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;
}
