.catalog-promo{
  background-color: $basic_green;
  color: $basic-white;
  outline: 5px solid $red;
  outline-offset: -5px;
}

.catalog-promo__text{
  font-family: $font-family-secondary;
  font-size: 16px;
  line-height: 20px;
}
