.example{
  background-color: $light-grey;
  color: $basic-black;
  outline: 5px solid $red;
  outline-offset: -5px;
}

.example__info-text{
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__cost{
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
