.form__item{
  border: none;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  }
/*
.form__label{}


.form__input{*/

::-webkit-input-placeholder{
  font-family: $font-family-primary;
  color: $special_dark-grey;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

::-moz-placeholder{
  font-family: $font-family-primary;
  color: $special_dark-grey;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form__title{
  color: $basic-black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.form__btn{
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
}

.form{
  outline: 5px solid $red;
  outline-offset: -5px;
}
