.main__title{
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.main__description{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
/*
.main__form{

}
*/

.main__footnote{
  font-size: 14px;
  line-height: 16px;
}

.main{
  outline: 5px solid $special_black;
  outline-offset: -5px;
  background-color: $light-grey2;
  display: grid;
  grid-template-columns: 140px 140px;
}
