/*.optionally{
*/
.optionally__title{
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.optionally__list{
  padding: 0;
  list-style: none;
}
/*
.optionally__item{
}*/

.optionally__item-title{
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.optionally__description{
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.optionally__table-title{
  text-align: left;
}

.optionally__table-price{
  text-align: right;
}

.optionally__btn{
  font-size: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.optionally{
  outline: 5px solid $red;
  outline-offset: -5px;
}
