.product{
  outline: 5px solid $red;
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 140px 142px;
  grid-template-rows: 60px 50px 40px;
  grid-row-gap: 17px;
  padding-left: 20px;
  padding-right: 18px;
  min-height: 209px;
}
.product__title{
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
}
.product__description{
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  min-width: 142px;
  grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-collapse: collapse;
}

.product__table-title{
  text-align: left;
}

.product__table-value{
  text-align: right;
}

.product__link{
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product__img{
  height: 100.8px;
  width: 84px;
  margin-top: 30px;
  margin-left: 25px;
}

.product__link-img{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.product__title{
  text-transform: uppercase;
  grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 70%;
  margin: 0;
  padding-top: 25px;
}

.product__link{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

@media (min-width: $tablet-width){
  .product{
    padding: 0;
    margin: 0;
    min-width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $basic_grey;
  }

  .product__title{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 50%;
    padding-top: 70px;
  }
  .product__description{
    font-size: 16px;
    margin-left: 36px;
    margin-right: 36px;
    min-width: 252px;
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  .product__table-title,
  .product__table-value{
    border-bottom: 1px solid $special_grey;
  }
  .product__link-img{
    margin-top: -60px;
  }
  .product__link{
    font-size: 16px;
    padding: 8px 94px;
    margin-top: 15px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width){
  .product{
    padding: 0;
    margin: 0;
    min-width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $basic_grey;
  }

  .product__title{
    width: 60%;
  }

  .product__description{
    padding-left: 40px;
    padding-right: 40px;
  }

  .product__link{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 45px;
  }

}
