.promo__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $basic_green;
  color: $basic-white;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: $font-family-primary;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.promo__subtitle{
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__link{
  font-size: 14px;
  padding: 14px 26px;
  text-align: center;
}

.promo{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;


  outline: 5px solid $red;
  outline-offset: -5px;
}

@media (min-width: $tablet-width) {
  .promo{
    display: grid;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 850px; /*временный*/
    width: 100%
  }

  .promo__wrapper{
    background-color: $basic-white;
    display: grid;
  }

  .promo__title{
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $basic-black;
    width: 450px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 12.5%;
  }

  .promo__subtitle{
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    margin-top: 0;
    margin-bottom: 49px;
    margin-left: 12.5%;
  }

  .promo__link{
    width: 220px;
    font-size: 20px;
    font-weight: normal;
    order: 1;
    margin-left: 11.5%;
    padding: 14px 15px;
    text-align: center;
  }

  .promo__img{
    order: 2;
  }

}

@media (min-width: $desktop-width){
  .promo{
    height: 640px;
    position: relative;
    padding-left: 7.64%;
    padding-right: 7.64%;
    font-weight: normal;
  }

  .promo__title{
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    margin-top: 95px;
    margin-left: 76px;
    margin-bottom: 45px;
  }

  .promo__subtitle{
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-left: 78px;
    margin-bottom: 52px;
  }

  .promo__link{
    width: 220px;
    font-size: 18px;
    margin-left: 80px;
    margin-bottom: 245px;
    text-align: center;

  }

  .promo__img{
    position: absolute;
    top: 104px;
    right: 350px;
  }
}
